<section class='user-section-card'>
    <div class="comment-card">
        <div class="user-card__name">
            <h3> <%= post.title %> </h3>
            <p class="user-bio"><%= post.text %></p>
        </div>
        <div class="comment__like">
            <p class="number-posts">Comments:<%= post.comments_counter %> </p>  
            <p class="number-posts">Likes:<%= post.likes_counter %> </p>  
        </div>
        <%= link_to "See Post", user_post_path(post.user, post), class: "btn" %>
    </div>
</section>


