
    <div class="users">
        <div class="user-section-card">
            <h2><%= @post.title %> by <%= @post.user.name %> </h2>
            <p>Comments: <%= @post.comments_counter %></p>
            <p>Likes: <%= @post.likes_counter %></p>
        </div> 
        <div class="user-section-card">
            <h4><%= @post.text %></h4>
        </div>
        <div class="commets-container">
            <%= render partial: "comment_card", locals: { post: @post, comments: @post.comment} %>
        </div>
        
</div> 
